<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-HappySmirk</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-HappySmirk</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Incorrect</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Incorrect</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Leaderboard</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Leaderboard</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-NewHighScore</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-NewHighScore</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-RegularPose</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-RegularPose</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
